__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.h5
*.hdf5

.venv310/

.vscode/

artifacts/
emotion48.keras
model_checkpoint.keras
model_weights.h5
*.keras
*.ckpt
*.pb
*.tflite

data/train/
data/test/
data/*

assets/gameplay.mp4

.DS_Store
Thumbs.db

*.log
training.log

archive/
gptinfercam.py
gptmodel.py
infercam.py
model.py